.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5%;

  h1 {
    font-weight: var(--title-weight);
    line-height: 1.2;
    margin-top: 0;
    font-family: var(--font-family);
  }

  h2,
  h3 {
    font-weight: var(--subtitle-weight);
    line-height: 1.2;
    margin-top: 0;
    font-family: var(--font-family);
  }

  a {
    text-decoration: none;
    cursor: pointer;
    &:focus {
      outline: 2px solid var(--accent-actual);
      outline-offset: 4px;
    }
  }
}

.table-container {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
  background-color: var(--bg-actual);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--bg-secondary-actual);
  overflow: hidden;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family);
  text-align: left;
}

thead {
  background-color: var(--accent-actual);
  color: var(--bg-actual);

  th {
    padding: 1rem 0.75rem;
    font-weight: var(--subtitle-weight);
    font-size: var(--subtitle-size);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

tbody {
  tr {
    transition: background-color 0.2s;
    border-bottom: 1px solid var(--bg-secondary-actual);

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }

  td {
    padding: 0.75rem;
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--font-family);
  }
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-family);

  &.btn-primary {
    background-color: var(--accent-actual);
    color: var(--bg-actual);
    border: 2px solid var(--accent-actual);

    &:hover {
      background-color: var(--secondary-actual);
      border-color: var(--secondary-actual);
    }
  }

  &.btn-delete {
    background-color: var(--error);
    color: var(--bg-actual);

    &:hover {
      background-color: var(--bg-actual);
      border-color: var(--error);
    }
  }
}

.btn-delete {
  background-color: var(--error);
  color: #fff;
  border: 1px solid var(--error);

  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  cursor: pointer;

  padding: 0.4rem 0.8rem;

  transition: all 0.3s ease;

  &:hover {
    background-color: transparent;
    color: var(--error);
  }

  &:active {
    transform: scale(0.98);
  }
}

.mt-large {
  margin-top: 2rem;
}
