<div class="content">
  <section id="hero" class="hero-section" aria-labelledby="hero-title">
    <div class="hero-text">
      <h1 id="hero-title">Company tu empresa de confianza</h1>
      <p>
        La solución definitiva para tus problemas. Regístrate hoy y transforma tu manera de
        trabajar.
      </p>

      <div class="hero-btns">
        <a class="btn btn-primary" routerLink="/form">¡Inscríbete Ahora!</a>
        <a class="btn btn-secondary" href="#mas-info">Más Información</a>
      </div>
    </div>
    <img src="assets/img0.jpg" alt="foto de personas trabajando" class="hero-img" />
  </section>

  <section id="caracteristicas" class="features-section">
    <h2>Descubre las Características Clave</h2>
    <div class="feature-list">
      <article class="feature-item">
        <h3>Rapidez</h3>
        <p>
          Optimiza tus procesos con una velocidad inigualable. El tiempo es oro y lo ahorramos por
          ti.
        </p>
      </article>
      <article class="feature-item">
        <h3>Simplicidad</h3>
        <p>
          Una interfaz intuitiva que cualquier persona puede usar. Diseño centrado en el usuario.
        </p>
      </article>
      <article class="feature-item">
        <h3>Soporte 24/7</h3>
        <p>
          Nuestro equipo de expertos está siempre disponible para ayudarte. Asistencia en tiempo
          real.
        </p>
      </article>
    </div>
  </section>

  <section id="cta" class="cta-section">
    <h2>¿Listo para empezar?</h2>
    <a class="btn btn-primary" routerLink="/form" routerLinkActive="active"
      >Empezar Prueba Gratuita</a
    >
  </section>
</div>
